.account-card {
    max-width: 28rem; /* max-w-md */
    margin: 2.5rem auto 0; /* mt-10 + mx-auto */
    padding: 1.5rem; /* p-6 */
    background-color: #060b26;
    border-radius: 1rem; /* rounded-2xl */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem; /* space-y-6 */
}

.account-header {
    gap: 0.25rem;
    margin-left: 60px;
    color: #ffa;
}

.account-number {
    font-size: 0.95rem;
    color: #ffa;
    margin: 8px 0;
    margin-left: 60px;
}

.balance-good {
    font-size: 1.1rem;
    color: #1c7c54;
    font-weight: 600;
    margin-left: 60px;
}

.balance-bad {
    font-size: 1.1rem;
    color: #7c1c1c;
    font-weight: 600;
    margin-left: 60px;
    
}

.connected-date {
    font-size: 0.75rem;
    color: #aaa;
    margin-top: 8px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-balance-icon {
    font-size: 2rem;
    color: #ffa;
    width: 2rem;
}

.x-icon {
    font-size: 2rem;
    align-items: right;
    width: 2rem;
    cursor: pointer;
}

.x-icon:hover {
    background-color: red;
    border-radius: 0.5rem;
    width: 3rem;
}

