.accounts-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    width: 600px;
    background: transparent;
    padding-bottom: 30px;
    color: #ffa;
    align-items: center;
}

.bank-accounts {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.accounts-header {
    display: flex;
    gap: 30px;
    margin: 60px auto;
    background-color: #060b26;
    padding: 1.5rem;
    border-radius: 1rem;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}