.calendar {
    padding: 20px;
    border: 2px solid gray;
    cursor: pointer;
    color: #ffa;
    font-size: 12px;
}

.dateRange {
    position: absolute;
    top: 120px;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .dateRange {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 10px;
      z-index: 1000;
      background-color: white;
      overflow-y: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .rdrCalendarWrapper {
      width: 100% !important;
      max-width: 100%;
      box-sizing: border-box;
    }
  
    .rdrDateRangeWrapper {
      flex-direction: column;
    }
  }